html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    height: 100%;
      background-color: #ffffff;
      background-image:linear-gradient(#434343, #282828);
  }
  #content{
      background-color: transparent;
      background-image:linear-gradient(0deg, transparent 25%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:100%;
    background-size:50px 50px;
  }
  
  .follow-me {
    position:absolute;
    bottom:10px;
    right:10px;
    text-decoration: none;
    color: #FFFFFF;
  }

.frontcolor {
    color: white;
  }

 .link-no-underline {
    text-decoration: none;
  }
  

  /* Grey box*/
  html {
    font-size: 60%;
  }
  
  body {
    background-color: #333333;
    font-family: 'Rubik', sans-serif;
  }
  /* Inside text box */
  
  .quote-container {
    background-color: rgba(250, 255, 255, 0.293);
    border-radius: 20;
    padding: 4rem;
    color: #ffffff ;
    font-size: 5rem;
    margin-top: 55px;
  }
  
  .text-container,
  .credits {
    text-align: center;
  }

    /* Buttons*/
.button-cool,
.button-cool:after {
    
  width: 150px;
  height: 76px;
  line-height: 80px;
  font-size: 35px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(5deg, transparent 5%, #ff0101 15%);
  border: 150px;
  color: #ffffff;
  letter-spacing: 5px;
  box-shadow: 10px 15px 8px #87f7ff;
  outline: transparent;
  position: relative;
  top: -100px; /*button position*/
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-cool:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(50% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'click here';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(40deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 40%);
  text-shadow: -3px -3px 0px #ffffff, 3px 3px 5px #00E6F6;
  clip-path: var(--slice-0);
}

.button-cool:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, 0px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, -50px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, -50px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, -50px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, -50px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px,-50px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, -50px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-50px, -50px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(50px, -50px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-50px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0px);
  }
}

@media (min-width: 100px) {
  .button-cool,
  .button-cool:after {
    width: 200px;
    height: 200px;
    line-height: 500px;
  }
}