/*css for the sign up page*/

input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    font-size: 1em;
    border-bottom: 1px solid black ;
    
}

/*css for sign up form*/
.form {
    background-color: #6C4D78;
    background-image: linear-gradient( 0deg, transparent 25%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent ), linear-gradient( 90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent );
    height: 100%;
    background-size: 50px 50px;
    color: white;
    margin-top: 1em;
    border: 1px solid black;
    width: 30em;
    padding: 1em;
    display: grid;
    row-gap: 0.5em;
}
#register-body {
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 25%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
    position: absolute;
    height: 160vh;
    width: 100%;
}
#register-page {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
}
#register-page > h2 {
    font-size: 3em;
}
#register-form {
    width: 40em;
}
.form label{
    float: left;
    font-size: 1.5em;
}
#register-form div:nth-child(1) {
    margin-top: 1em;
}
.form > div {
    margin-left: auto;
    margin-right: auto;
}

/*button*/
#signup-btn {
    width: 5em;
    height: 2em;
    margin-top: 0.5em;
    justify-self: center;
    font-size: larger;
}
#link-to-acc {
    padding-top: 1em;
    padding-bottom: 1em; 
    font-size: 1.3em;
    color: #AE7DC1;
}
#link-to-acc:hover {
    color: #6C4D78;
}
.error-message {
    color: #EE4B2B;
    font-size: 1em;
    float: left;
}

