input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    border-bottom: 1px solid black ;
}
.form {
    background-color: bisque;
    margin-top: 1em;
    border: 1px solid black;
    width: 30em;
    padding: 1em;
    display: grid;
    row-gap: 0.5em;

}
#register-body {
    background-image: url("ghY4rc.webp");
    position: absolute;
    height: 100%;
    width: 100%;
}
#register-page {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
}

.form  label{
    float: left;
    margin-bottom: 0.5em;
    font-size: 15px;
}
.form > div {
    margin-left: auto;
    margin-right: auto;
}
#signup-btn {
    width: 5em;
    margin-top: 0.5em;
    justify-self: center;
}
.error-message {
    color:red;
    font-size:10px;
    float: left;
}