/*css for store page*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    background-color: #202020;
}

/*** HEADER ***/
.header {
    display: flex;
    width: 100%;
    height: 68px;
    align-items: center;
    background-color: #202020;
    border-bottom: 0;
}

.header .logo {
    flex: 0 0 100%;
    padding-left: 20px;
    margin-right: auto;
}

.header .logo h1 {
    text-align: center;
    font-size: 3.5em;
    color: white;
}

/*navigation menu*/
.navbar {
    display: none;
    flex: 0 0 50%;
    height: 100%;
    align-items: center;
}

.navbarMenu {
    display: flex;
    height: 100%;
    float: right;
    align-items: center;
}

.navbarMenu a {
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}

.navbarMenu a:hover {
    /* background-color: #A164BA80; */
    background-color: #3C3C3C;
    /* font-size: 1.5em; */
}

.navbarMenu h3 {
    width: 100%;
    text-align: center;
}

/*** MOBILE NAV BAR ***/
.mobileNavbar {
    display: block;
    border-bottom: 3px solid #323232;
}

.mobileNavbar a {
    width: 100px;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}

.mobileNavbar h3 {
    padding: 6px 0;
}

.mobileNavbar h3:hover {
    background-color: #3C3C3C;
}

/*** MAIN BODY ***/
.mainBody {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto auto;
    background-color: #ffffff;
    background-image:linear-gradient(#434343, #282828);
}

/** sidebar **/
.sidebar {
    padding: 15px 30px;
    /* background-color: #6B556B; */
    text-align: left;
    color: #FDFDFD;
    background-color: #6C4D78;
    background-image:
        linear-gradient(
            0deg, 
            transparent 25%, 
            rgba(255, 255, 255, .05) 25%,
            rgba(255, 255, 255, .05) 26%, 
            transparent 27%, 
            transparent 74%, 
            rgba(255, 255, 255, .05) 75%,
            rgba(255, 255, 255, .05) 76%,
            transparent 77%,
            transparent
        ),
        linear-gradient(
            90deg,
            transparent 24%,
            rgba(255, 255, 255, .05) 25%,
            rgba(255, 255, 255, .05) 26%,
            transparent 27%,
            transparent 74%,
            rgba(255, 255, 255, .05) 75%,
            rgba(255, 255, 255, .05) 76%,
            transparent 77%,
            transparent
        );
    height:100%;
    background-size:50px 50px;
}

.sidebar h2 {
    padding-bottom: 4px;
    font-size: 2em;
    text-align: center;
}

.sidebarMenuContainer {
    display: flex;
    flex-direction: column;
}

.sidebarMenu {
    flex: 0 0 100%;
    text-align: center;
}

.sidebarMenu h3 {
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 1.5em;
}

.sidebarMenu h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebarMenu ul {
    display: none;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: left;
}

.sidebarMenu li {
    font-size: 1.15em;
}

/** products **/
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;
    background-image:
        linear-gradient(
            0deg, 
            transparent 25%, 
            rgba(255, 255, 255, .05) 25%,
            rgba(255, 255, 255, .05) 26%, 
            transparent 27%, 
            transparent 74%, 
            rgba(255, 255, 255, .05) 75%,
            rgba(255, 255, 255, .05) 76%,
            transparent 77%,
            transparent
        ),
        linear-gradient(
            90deg,
            transparent 24%,
            rgba(255, 255, 255, .05) 25%,
            rgba(255, 255, 255, .05) 26%,
            transparent 27%,
            transparent 74%,
            rgba(255, 255, 255, .05) 75%,
            rgba(255, 255, 255, .05) 76%,
            transparent 77%,
            transparent
        );
    height:100%;
    background-size:50px 50px;
}

[class*="productItem"] {
    margin: 0 auto;
}

/*container for the products info*/
.card {
    transition: 0.3s;
    width: 300px;
    height: 320px;
    border-radius: 5px;
    position: relative;
}

.card:hover {
    cursor: grab;
}

.card:hover:active .description {
    cursor: grabbing;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.15s, opacity 0.15s linear;
    transition: visibility 0.15s, opacity 0.15s linear;
}

.description {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #202020;
    color: white;
    font-family: sans-serif;
    opacity: 0.9;
    visibility: visible;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px 10px;
}

.description:hover {
    cursor: default;
}

.description h2 {
    padding-bottom: 2px;
}

.descriptionCol1 {
    padding: 5px 0px 10px 5px;
}

.descriptionCol2 {
    padding: 5px 0px 10px 5px;
}

.description button {
    padding: 4px 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 16px;
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #AE7DC1;
    
}

.description button:hover {
    background-color: #6C4D78;
    cursor: pointer;
}

/*three.js display canvas*/
.canvas {
    height: 100%;
    position: relative;
    padding-bottom: 50px;
    background: #6B556B90;
    border-radius: 20px;
}

/*footer*/
.footer {
    padding: 16px 16px 64px;
    border-top: 3px solid #323232;
    background-color: #202020;
    color: white;
    font-size: 1em;
}

.footer .logo h1 {
    padding: 5px 0;
    text-align: center;
    font-size: 2.75em;
    color: white;
}

.footer p {
    padding: 4px 0px;
}

.footer a {
    color: #AE7DC1;
}

.footer a:hover {
    color: #6C4D78;
}

.footer .copyright {
    font-size: 1.25em;
    font-weight: bold;
}

/*flex box*/
/* Mobile size */
@media only screen and (min-width: 500px) {
    body {
        font-size: 16px;
    }

    .header {
        height: 83px;
        border-bottom: 3px solid #323232;
    }

    .header .logo {
        flex: 0 0 50%;
    }

    .header .logo h1 {
        text-align: left;
        font-size: 3em;
    }

    .navbar {
        display: block;
    }

    .mobileNavbar {
        display: none;
    }

    .sidebar {
        padding: 20px 40px;
    }

    .sidebar h2 {
        padding-bottom: 8px;
        text-align: left;
    }

    .sidebarMenuContainer {
        flex-direction: row;
    }

    .sidebarMenu {
        flex: 0 0 50%;
        text-align: left;
    }

    .sidebarMenu h3 {
        padding-top: 16px;
    }

    .sidebarMenu ul {
        width: 100%;
        margin: 0;
        padding-left: 24px;
        text-align: left;
    }

    .products {
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    }

    .card {
        width: 420px;
    }

    .description button {
        padding: 0px 10px;
        line-height: 30px;
    }
}

/* Desktop and Table sizes */
@media only screen and (min-width: 790px) {
    .navbarMenu a {
        width: 180px;
        font-size: 1.5em;
        color: white;
    }
    
    /* .navbarMenu a:hover {
        font-size: 2em;
    } */

    .mainBody {
        grid-template-columns: 250px auto;
        grid-template-rows: none;
    }

    .sidebar {
        padding: 40px;
    }

    .sidebarMenuContainer {
        flex-direction: column;
    }
    
    .sidebarMenu {
        flex: 0 0 100%;
    }
}