* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    background-color: #202020;
}

/*** HEADER ***/
.header {
    display: flex;
    width: 100%;
    height: 83px;
    align-items: center;
    background-color: #202020;
    border-bottom: 3px solid #323232;
}

.header .logo {
    flex: 0 0 50%;
    padding-left: 20px;
    margin-right: auto;
}

.header .logo h1 {
    text-align: left;
    font-size: 3em;
    color: white;
}

.navbar {
    flex: 0 0 50%;
    height: 100%;
    align-items: center;
}

.navbarMenu {
    display: flex;
    height: 100%;
    float: right;
    align-items: center;
}

.navbarMenu a {
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}

.navbarMenu a:hover {
    background-color: #A164BA80;
    font-size: 1.5em;
}

.navbarMenu h3 {
    width: 100%;
    text-align: center;
}

/*** MAIN BODY ***/
.mainBody {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto auto;
    background-color: #ffffff;
    background-image:linear-gradient(#434343, #282828);
}

/** sidebar **/
.sidebar {
    padding: 40px;
    /* background-color: #6B556B; */
    text-align: left;
    color: #FDFDFD;
    background-color: #6C4D78;
    background-image:
        linear-gradient(
            0deg, 
            transparent 25%, 
            rgba(255, 255, 255, .05) 25%,
            rgba(255, 255, 255, .05) 26%, 
            transparent 27%, 
            transparent 74%, 
            rgba(255, 255, 255, .05) 75%,
            rgba(255, 255, 255, .05) 76%,
            transparent 77%,
            transparent
        ),
        linear-gradient(
            90deg,
            transparent 24%,
            rgba(255, 255, 255, .05) 25%,
            rgba(255, 255, 255, .05) 26%,
            transparent 27%,
            transparent 74%,
            rgba(255, 255, 255, .05) 75%,
            rgba(255, 255, 255, .05) 76%,
            transparent 77%,
            transparent
        );
    height:100%;
    background-size:50px 50px;
}

.sidebar h2 {
    padding-bottom: 8px;
    font-size: 2em;
}

.sidebarMenu h3 {
    padding-top: 16px;
    padding-bottom: 4px;
    font-size: 1.5em;
}

.sidebarMenu h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebarMenu ul {
    display: none;
    list-style: none;
    padding-left: 24px;
}

.sidebarMenu li {
    font-size: 1.15em;
}

/** products **/
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    grid-template-rows: auto;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: transparent;
    background-image:
        linear-gradient(
            0deg, 
            transparent 25%, 
            rgba(255, 255, 255, .05) 25%,
            rgba(255, 255, 255, .05) 26%, 
            transparent 27%, 
            transparent 74%, 
            rgba(255, 255, 255, .05) 75%,
            rgba(255, 255, 255, .05) 76%,
            transparent 77%,
            transparent
        ),
        linear-gradient(
            90deg,
            transparent 24%,
            rgba(255, 255, 255, .05) 25%,
            rgba(255, 255, 255, .05) 26%,
            transparent 27%,
            transparent 74%,
            rgba(255, 255, 255, .05) 75%,
            rgba(255, 255, 255, .05) 76%,
            transparent 77%,
            transparent
        );
    height:100%;
    background-size:50px 50px;
}

[class*="productItem"] {
    margin: 0 auto;
}

.card {
    transition: 0.3s;
    width: 420px;
    height: 320px;
    border-radius: 5px;
    position: relative;
}

.card:hover {
    cursor: grab;
}

.card:hover .description {
    visibility: visible;
    opacity: 0.9;
}

.card:hover:active {
    cursor: grabbing;
}

.description {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #202020;
    color: white;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px 10px;
}

.description:hover {
    cursor: default;
}

.description h2 {
    padding-bottom: 2px;
}

.descriptionCol1 {
    padding: 5px 0px 10px 5px;
}

.descriptionCol2 {
    padding: 5px 0px 10px 5px;
}

.description button {
    padding: 0px 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
    margin: auto;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #AE7DC1;
    
}

.description button:hover {
    background-color: #6C4D78;
    cursor: pointer;
}

.canvas {
    height: 100%;
    position: relative;
    padding-bottom: 50px;
    background: #6B556B90;
    border-radius: 20px;
}

.footer {
    padding: 16px 16px 64px;
    border-top: 3px solid #323232;
    background-color: #202020;
    color: white;
    font-size: 1em;
}

.footer .logo h1 {
    padding: 5px 0;
    text-align: center;
    font-size: 2.75em;
    color: white;
}

.footer p {
    padding: 4px 0px;
}

.footer a {
    color: #AE7DC1;
}

.footer a:hover {
    color: #6C4D78;
}

.footer .copyright {
    font-size: 1.25em;
    font-weight: bold;
}

@media only screen and (min-width: 790px) {
    .navbarMenu a {
        width: 180px;
        font-size: 1.5em;
        color: white;
    }
    
    .navbarMenu a:hover {
        font-size: 2em;
    }

    .mainBody {
        grid-template-columns: 250px auto;
        grid-template-rows: none;
    }
}