* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    padding: 10px;
    text-align: center;
    background: orange;
    color: white;
    
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
    padding: 0px 20px;
}

h3 {
    font-size: 20px;
    padding: 0px 20px;
}
p {
    font-size: 14px;
}
Link {
    font-size: 16px;
}

img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    max-width: 350px;
}

.navbar {
    overflow: hidden;
    background-color: dimgrey;
    padding: 10px 10px;
}
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 10px 10px;
    }
        .navbar a.right {
            float: right;
        }
        .navbar a:hover {
            background-color: #eee;
            color: black;
        }

.right {
    float: right;
}

.left {
    float: left;
}

.bottom {
    
    bottom: 0;
}

.center {
    justify-content: center;
}

.textSize {
    font-size: 16px;
    padding: 10px 10px;
}
.textSize2 {
    font-size: 10px;
} 

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
  margin-left: 4%;
  flex: 0 0 92%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
  padding: 0 10px;
}

.sidebar {
    flex: 10%;
    background-color: #f1f1f1;
    padding: 20px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgrey;
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 20px;
}

.main {
    flex: 80%;
    background-color: white;
    background-image: url("ghY4rc.webp");
    padding: 30px;
    padding-bottom: 30px;
}

a {
    color: #229efd;
    font-weight: bold;
}
    a:hover {
        color: orange;
        text-decoration: none;
    }

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.input {
    width: 100%;
    align-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    background-color: white;
    position: relative;
}
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        cursor: pointer;
    }
        .card:hover div {
            width: 100%;
            padding: 8px 15px;
            visibility: visible;
            opacity: 0.9;
        }

.container {
    padding: 2px 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #03a9f4;
    color: black;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

.canvas {
    height: 100%;
    position: relative;
    background: #1f1144;
}

button {
    border: 1px solid #fd6350 !important;
    padding: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
    margin: auto;
    font-size: 16px;
}
    button:hover {
        background-color: orange !important;
        box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
        transform: translateY(-10px);
    }

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.row2 {
    display: grid;
    gap: 30px;
    
}

.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

    .zoom:hover {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

.row3 {
    display: grid;
    gap: 10px;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
    .col-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .col-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .col-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .col-4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .col-5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .col-6 {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .col-7 {
        grid-column: 1/2;
        grid-row: 7/8;
    }

    .col-1-2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .col-2-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 1180px) {
    .col-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .col-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .col-3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .col-4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .col-5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .col-6 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .col-7 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .col-1-2 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .col-2-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

/*for the text inside card*/
.col-1-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.col-2-1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.col-3-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.col-4-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}