/*** HEADER ***/
.thankYouBody {
  margin: 0;
  font-size: 14px;
  background-color: #ffffff;
  background-image:linear-gradient(#434343, #282828);
}

.thankYouHeader {
  display: flex;
  width: 100%;
  height: 83px;
  align-items: center;
  background-color: #202020;
  border-bottom: 3px solid #323232;
}

.thankYouHeader .thankYouLogo {
  flex: 0 0 100%;
  margin: 0 auto;
  padding: 0;
}

.thankYouHeader .thankYouLogo h1 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 3.5em;
  color: white;
}

/** logo **/
.thankYouLogo h1 {
  width: fit-content;
}

.thankYouLogo h1:hover {
  cursor: pointer;
}

.thankYouLogo a {
  text-decoration: none;
  color: white;
}

#tyContent {
  display: block;
  padding: 100px 0;
  background-color: transparent;
  background-image:
      linear-gradient(
          0deg, 
          transparent 25%, 
          rgba(255, 255, 255, .05) 25%,
          rgba(255, 255, 255, .05) 26%, 
          transparent 27%, 
          transparent 74%, 
          rgba(255, 255, 255, .05) 75%,
          rgba(255, 255, 255, .05) 76%,
          transparent 77%,
          transparent
      ),
      linear-gradient(
          90deg,
          transparent 24%,
          rgba(255, 255, 255, .05) 25%,
          rgba(255, 255, 255, .05) 26%,
          transparent 27%,
          transparent 74%,
          rgba(255, 255, 255, .05) 75%,
          rgba(255, 255, 255, .05) 76%,
          transparent 77%,
          transparent
      );
  height:100%;
  background-size:50px 50px;
}







/* html, body {
    height: 100%;
    margin:0;
    padding:0;
  }
  body {
    background-color: #ffffff;
    background-image:linear-gradient(#434343, #282828);
    background-size: cover;
  } */
  /* #tyContent{
    background-color: transparent;
    background-image:linear-gradient(0deg, transparent 25%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:10%;
    margin:0;
    padding:0;
    background-size:50px 50px;
  } */
  
  .tyFrontcolor {
    color: white;
  }
  
  .link-no-underline {
    text-decoration: none;
  }
  
  /* Grey box*/
   
  /* html {
    font-size: 60%;
  }
   */
  /* body {
    background-color: #333333;
    font-family: 'Rubik', sans-serif;
  } */
  /* Inside text box */
  /* .tyQuote-container {
    background-color: rgba(250, 255, 255, 0.293);
    border-radius: 20;
    padding: 4rem;
    color: #ffffff ;
    font-size: 5rem;
    margin-top: 55px;
  } */

  .tyQuote-container {
    margin-top: 0;
    padding-top: 0;
  }

  .tyText-container {
    margin: 0 4%;
    background-color: #6C4D7890;
    border: 1px solid black;
    color: white;
    padding: 20px 20px;
  }

  .tyText-container h3 {
    color: white;
    padding-bottom: 10px;
    font-size: 2em;
  }

  .tyText-container p {
    font-size: 2.25em;
    padding-bottom: 16px;
  }
  
  .tyText-container,
  .credits {
    text-align: center;
  }

  .button-return-store-div {
    margin-top: -80px;
    margin-bottom: -120px;
    font-size: 1.6em;
  }
    
    /*button for return store*/
    .button-return-store,
    .button-return-store:after {
        
      width: 200px;
      height: 200px;
      line-height: 500px;
      font-size: 35px;
      font-family: 'Bebas Neue', sans-serif;
      background: linear-gradient(5deg, transparent 5%, #ff0101 15%);
      border: 150px;
      color: #ffffff;
      letter-spacing: 5px;
      box-shadow: 10px 15px 8px #87f7ff;
      outline: transparent;
      position: relative;
      top: -100px; /*button position*/
      left:5px; 
    
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-return-store:after {
      --slice-0: inset(50% 50% 50% 50%);
      --slice-1: inset(80% -6px 0 0);
      --slice-2: inset(50% -6px 30% 0);
      --slice-3: inset(50% -6px 85% 0);
      --slice-4: inset(40% -6px 43% 0);
      --slice-5: inset(80% -6px 5% 0);
      
      content: 'click here';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(40deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 40%);
      text-shadow: -3px -3px 0px #ffffff, 3px 3px 5px #00E6F6;
      clip-path: var(--slice-0);
    }
    
    .button-return-store:hover:after {
      animation: 1s glitch;
      animation-timing-function: steps(2, end);
    }
    
    @keyframes glitch {
      0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, 0px);
      }
      10% {
        clip-path: var(--slice-3);
        transform: translate(10px, -50px);
      }
      20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, -50px);
      }
      30% {
        clip-path: var(--slice-3);
        transform: translate(0px, -50px);
      }
      40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, -50px);
      }
      50% {
        clip-path: var(--slice-3);
        transform: translate(5px,-50px);
      }
      60% {
        clip-path: var(--slice-4);
        transform: translate(5px, -50px);
      }
      70% {
        clip-path: var(--slice-2);
        transform: translate(-50px, -50px);
      }
      80% {
        clip-path: var(--slice-5);
        transform: translate(50px, -50px);
      }
      90% {
        clip-path: var(--slice-1);
        transform: translate(-50px, 0px);
      }
      100% {
        clip-path: var(--slice-1);
        transform: translate(0px);
      }
    }
    
    /*button for log out/sign out*/
    .button-logout {
      --b: 3px;   /* border thickness */
      --s: .45em; /* size of the corner */
      --color: #ffffff;
      position: fixed;
      top: 25px;
      right: 40px;
      
      padding: calc(.5em + var(--s)) calc(.9em + var(--s));
      color: var(--color);
      --_p: var(--s);
      background:
        conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
        var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
      transition: .3s linear, color 0s, background-color 0s;
      outline: var(--b) solid #0000;
      outline-offset: .6em;
      font-size: 16px;
    
      border: 0;
    
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-logout:hover,
    .button-logout:focus-visible{
      --_p: 0px;
      outline-color: var(--color);
      outline-offset: .05em;
    }
    
    .button-logout:active {
      background: var(--color);
      color: #fff;
    }

@media only screen and (min-width: 500px) {
  .thankYouBody {
      font-size: 16px;
  }

  .tyText-container {
    margin: 0 10%;
  }

  .tyText-container p {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1100px) {
  .tyText-container {
    margin: 0 30%;
  }
}
