
/*css for three example*/
.AppExample {
    font-family: sans-serif;
    text-align: center;
}

.AppExample:hover {
    cursor: grab;
}

.AppExample:hover:active {
    cursor: grabbing;
}

* {
    margin: 0;
}
